[flake8]
exclude =
    .git,
    .gitignore,
    *.py[co],
    __pycache__,
    .docker,
    static,
    *migrations*,
    manage.py,
    venv/

ignore =
    F405,
    ANN101,
    ANN102,
    ANN003,
    ANN401,
    W503,

max-line-length = 120